.gridContainer1{
    margin: 24px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 0px;
  }
  .gridItem1 {
    background-color: white;
    border-radius: 8px;
    padding: 20px 0px;
    border:none;
    transition: transform 0.2s;
    position: relative;
   width:250px;
   margin-top:-40px;
  }
  .gridItem1:hover {
    transform: scale(1.05);
  }
   .gridItem1 img {
    width: 100px;
    height: 100px;
  }
   .gridItem1 h3 {
    font-size: 1.2em;
  }
.gridItem1 h4{
    color:rgb(255, 90, 29);
  }
 .gridItem1 .cartIcon{
    width:20px;
    height:20px;
    margin-right: 3px;
  }
.price{
    display:flex;
    align-items: center;
  }
 .price h4{
    color: rgb(255, 90, 29);
    margin-right:20px;
  }
.in-stock{
    background-color:#ffc107;
    position: absolute;
    color: #fff;
    padding: 4px 8px;
    width:50px;
    margin-top:-20px;
    margin-left:-20px;
    border-radius: 7px 0 10px 0;
    font-size: 0.9em;
  }
  .item-rating1 {
    color: #ffc107;
  }
.item-by {
    color: #888;
    margin: 10px 0;
  }
 .priceContainer{
   gap:10px;
  }
 .priceContainer .old-price {
    text-decoration: line-through;
    color: rgb(188, 187, 187);
  }
 .add-button {
    color: white;
    background-color: rgb(255, 90, 29);
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: flex;
    gap:6px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
  }
    .item-details {
    text-align: left;
  } 
.item-name1 {
    font-size: 1.2em;
  }
  .priceContainer{
    display:flex;
  }
.item-by span{
    color: rgb(255, 90, 29);
    font-weight: 700;
  }
 .gridItem1 .image{
    display:flex;
   
  }
.image .item-image{
    background-color: #f5eeee;
    border-radius: 10px;
    margin-right:20px;
  } 
@media (width: 1024px){
    .gridContainer1{
      width:90%;
    }
    .categoryNav ul{
      gap:80px;
     }
  }
 @media (width: 768px){
    .gridContainer1{
      width:88%;
    }
   .categoryNav ul{
    gap:10px;
   }
  }
  @media(min-width:390px) and (max-width:475px){
    .gridItem1{
      margin-left:20px;
    }
  }
  @media (min-width:320px) and (max-width:380px){
    .gridItem1{
      margin-left:20px;
    }
  }