 .header {
    display: flex;
    align-items: center;
  }
  .header h1{
    margin-right:40px;
    margin-left:50px;
    font-size: 28px;
  }
  .category-nav {
    align-items:center;
    display:flex;
  }
  .category-nav ul {
    list-style-type: none;
    gap: 15px;
  }
  .category-nav li {
    cursor: pointer;
    display:inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight:40;
    font-size:20px;
    transition: background-color 0.3s;
  }
  .category-nav .selected {
    color: orange;
    font-weight: bold;
  }
  @media(min-width:400px) and (max-width:480px){
    .header h1{
      font-size: 20px;
      margin:0 0px;
    }
    .category-nav li {
      font-size:15px;
      padding:0px 8px;
    }
  }
  @media (min-width: 375px) and (max-width:399px){
    .header h1{
      font-size: 24px;
      margin:0 0px;
    }
    .category-nav li {
      font-size:16px;
      padding:5px 10px;
    }
  }
  @media (width: 320px){
    .header h1{
      font-size: 24px;
      margin:0 0px;
    }
    .category-nav li {
      font-size:16px;
      padding:5px 10px;
    }
  }